<script>
    async function deletePlayer(id) {
        if (confirm('Você tem certeza que deseja excluir?')) {
            try {
                const response = await fetch(`/player/${id}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                //console.log('Resposta do servidor:', response); // Log para depuração

                if (response.ok) {
                    alert('Jogador excluído com sucesso!');
                    window.location.reload();// Recarrega a página automaticamente
                } else {
                    alert('Erro ao excluir jogador.');

                }
            } catch (error) {
                alert('Erro na comunicação com o servidor');
                console.error('Erro:', error); // Log de erro detalhado
            }
        }
    }
</script>

<div>
    <h1 class="text-3xl mb-6">Jogadores</h1>
    {{#each players}}
        <div class="bg-slate-300 w-60 rounded-lg" >
            <div >
                <img src="../src/assets/img/ft-generica-jogadores.jpg" class="w-60 p-2 rounded-md">
            </div>
            <div class="p-2">
                <h4><span class="font-bold">Nome: </span>{{name}}</h4>
                <p><span class="font-bold">Idade: </span>{{age}}</p>
                <p><span class="font-bold">Posição: </span>{{position}}</p>
                <p><span class="font-bold">Time: </span>{{team}}</p>
            </div>
            <div class="flex justify-end gap-4 p-2">
                <a href="/player/{{id}}"><button class="p-2 bg-blue-400 rounded-md text-center">Editar</button></a>
                <button onclick="deletePlayer('{{id}}')" class="p-2 bg-blue-400 rounded-md text-center">Excluir</button>
            </div>
        </div>
        {{else}}
        <p>Nao contem jogadores</p>
    {{/each}}
</div>

